<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static %}
    <link rel="stylesheet" href="{%static 'dist/style.css'%}">
    <title>{% block title %}My amazing site{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'image/favicon/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'image/favicon/favicon-16x16.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/favicon/apple-touch-icon.png' %}">
    <link rel="manifest" href="{% static 'image/favicon/site.webmanifest' %}">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body>
{%include 'semantics/header.html'%}
{% block content %}

{% endblock content%}
{%include 'semantics/footer.html'%}
</body>
</html>